{% extends 'website/base.html' %}



<main>

    {% block main %}



        <section id="galeria">
            <h1>Alimentos</h1>

            <section class="galeria centrarProdutos">

                <div class="itemGaleria ">

                    <figure>
                        <img src="../static/website/img/ali1.jpg" alt="">
                        <figcaption>Pizza <button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria ">

                    <figure>
                        <img src="../static/website/img/ali2.jpg" alt="">
                        <figcaption>Açucar<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img3">
                        <img src="../static/website/img/ali3.jpg" alt="">
                        <figcaption>Maizena<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img4">
                        <img src="../static/website/img/ali6.jpg" alt="">
                        <figcaption>Batata Frita<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img5">
                        <img src="../static/website/img/ali5.jpg" alt="">
                        <figcaption>Ketchup<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img6">
                        <img src="../static/website/img/ali4.jpg" alt="">
                        <figcaption>Pastel de Nata<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>
                <br>
            </section>
        </section>

     {% endblock %}

    </main>

