{% extends 'website/base.html' %}


<main>

    {% block main %}



        <section id="galeria">
            <h1>Galeria</h1>

            <div class="flex-container">
                <img class="gray" src="../static/website/img/foto1.jpg" alt="">
                <img class="gray" src="../static/website/img/foto2.jpg" alt="">

                <img class ="wave" src="../static/website/img/foto3.jpg" alt="">
                <img class ="wave" src="../static/website/img/foto4.jpg" alt="">

                <img class ="color" src="../static/website/img/foto5.jpg" alt="">
                <img class ="color" src="../static/website/img/foto6.jpg" alt="">

                <img  src="../static/website/img/foto7.jpg" alt="">
                <img  src="../static/website/img/foto8.jpg" alt="">
              </div>


        </section>

{% endblock %}

    </main>