{% extends 'website/base.html' %}



<main>

    {% block main %}



        <section class="image">
            <h1>Bem vindo ao electro</h1>
            <p>onde os preços são sempre os piores</p>

            <div class="inputContainer">

                <i class="fa fa-search icon"></i>
                <input class="search" type="text" placeholder="Search">

            </div>
        </section>



            <section>
                <h1 class="novidades">Novidades</h1>
                <div class="barra"></div>

            </section>

            <section class="galeria">


                <div class="itemGaleria">

                    <figure class="img1">
                        <img src="../static/website/img/prod1.png" alt="">
                        <figcaption>Barritas cornFlake <button type="button">Saiba Mais</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img2">
                        <img src="../static/website/img/prod2.png" alt="">
                        <figcaption>Iogurte Longa Vida<button type="button">Saiba Mais</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img3">
                        <img src="../static/website/img/prod3.png" alt="">
                        <figcaption>Pasta Oriental<button type="button">Saiba Mais</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img4">
                        <img src="../static/website/img/prod4.png" alt="">
                        <figcaption>Pro Plan<button type="button">Saiba Mais</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img5">
                        <img src="../static/website/img/prod5.png" alt="">
                        <figcaption>KitKat<button type="button">Saiba Mais</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img6">
                        <img src="../static/website/img/prod6.jpg" alt="">
                        <figcaption>Papel Higiénico<button type="button">Saiba Mais</button></figcaption>
                    </figure>
                </div>
                <br>
            </section>

    {% endblock main %}


    </main>


