{% extends 'website/base.html' %}



<main>

    {% block main %}



        <section id="galeria">
            <h1>Material</h1>

            <section class="galeria centrarProdutos">

                <div class="itemGaleria ">

                    <figure>
                        <img src="../static/website/img/mat1.jpg" alt="">
                        <figcaption>Shampoo <button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria ">

                    <figure>
                        <img src="../static/website/img/mat2.jpg" alt="">
                        <figcaption>Sabonete Liquido<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img3">
                        <img src="../static/website/img/mat3.jpg" alt="">
                        <figcaption>Detergente<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img4">
                        <img src="../static/website/img/mat4.jpg" alt="">
                        <figcaption>Detergente Lava Loiça<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img5">
                        <img src="../static/website/img/mat5.jpg" alt="">
                        <figcaption>Pasta de Dentes<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img6">
                        <img src="../static/website/img/mat6.jpg" alt="">
                        <figcaption>Caderno<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>
                <br>
            </section>
        </section>

{% endblock %}

    </main>