{% extends 'website/base.html' %}


<main>

    {% block main %}



        <section id="galeria">
            <h1>Talho</h1>

            <section class="galeria centrarProdutos">

                <div class="itemGaleria ">

                    <figure>
                        <img src="../static/website/img/carne1.jpg" alt="">
                        <figcaption>Carne Angus <button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria ">

                    <figure>
                        <img src="../static/website/img/carne2.jpg" alt="">
                        <figcaption>Carne de Vaca<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img3">
                        <img src="../static/website/img/carne3.jpg" alt="">
                        <figcaption>Carne de Porco<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img4">
                        <img src="../static/website/img/carne4.jpg" alt="">
                        <figcaption>Carne de Veado<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img5">
                        <img src="../static/website/img/carne5.jpg" alt="">
                        <figcaption>Carne Wagyu<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>



                <div class="itemGaleria">

                    <figure class="img6">
                        <img src="../static/website/img/carne6.jpg" alt="">
                        <figcaption>Carne do Coelho<button type="button">Comprar</button></figcaption>
                    </figure>
                </div>
                <br>
            </section>
        </section>

    {% endblock %}

    </main>
